Importing libraries.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Data = pd.read_csv("vgsales.csv")

In [3]:
Data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
Data.duplicated().sum()

np.int64(0)

In [5]:
Data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
pd.options.display.max_rows = 400
Nulls = Data[Data.isnull().any(axis = 1)]
# Nulls

In [7]:
Mask_Null_Years = Nulls["Year"].isnull() & ~Nulls["Publisher"].isnull()
Mask_Null_Publishers = ~Nulls["Year"].isnull() & Nulls["Publisher"].isnull()
Mask_Null_Both = Nulls["Year"].isnull() & Nulls["Publisher"].isnull()

Null_Years = Nulls[Mask_Null_Years]
Null_Publishers = Nulls[Mask_Null_Publishers]
Null_Both = Nulls[Mask_Null_Both]

In [8]:
print(Null_Both.shape)
print(Null_Years.shape)
print(Null_Publishers.shape)

(22, 11)
(249, 11)
(36, 11)

In [9]:
Null_Years_File = Null_Years.to_csv("Null_Years.csv", index = False)
Null_Publishers_File = Null_Publishers.to_csv("Null_Publishers.csv", index = False)
Null_Both_File = Null_Both.to_csv("Null_Both.csv", index = False)

In [10]:
Edited_Null_Years = pd.read_csv("Null_Years_Edited.csv")
Edited_Null_Publishers = pd.read_csv("Null_Publishers_Edited.csv")
Edited_Null_Both = pd.read_csv("Null_Both_Edited.csv")

In [11]:
Edited_Null_Publishers.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [12]:
Null_Data_Edited = pd.concat([Edited_Null_Years, Edited_Null_Publishers, Edited_Null_Both], axis = 0)

In [13]:
Null_Data_Edited.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [14]:
Data = pd.concat([Data, Null_Data_Edited], axis = 0)

In [15]:
Data = Data.dropna()

In [16]:
Data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [17]:
Data = Data.sort_values(by = "Rank")
Data = Data.reset_index(drop = True)

In [18]:
Unknown_Data = Data[Data["Publisher"] == "Unknown"]
# Unknown_Data

In [19]:
Unknown_Data_File = Unknown_Data.to_csv("Unknown_Data.csv", index = False)

In [20]:
Unknown_Data_Edited = pd.read_csv("Unknown_Data_Edited.csv")

In [21]:
Data = Data[Data["Publisher"] != "Unknown"]

In [22]:
Data = pd.concat([Data,Unknown_Data_Edited], axis = 0)

In [23]:
Data = Data.sort_values(by = "Rank")
Data = Data.reset_index(drop = True)

In [24]:
Data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [25]:
Data.iloc[470]

Rank                                   471
Name            wwe Smackdown vs. Raw 2006
Platform                               PS2
Year                                2005.0
Genre                             Fighting
Publisher                              THQ
NA_Sales                              1.57
EU_Sales                              1.02
JP_Sales                               0.0
Other_Sales                           0.41
Global_Sales                           3.0
Name: 470, dtype: object

In [26]:
Data = Data.drop(index = 470)

In [27]:
Replace = {
    "wwf": "wwe",
    "WWF": "WWE"
}
Data["Name"] = Data["Name"].replace(Replace)

In [28]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16597 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16597 non-null  int64
 1   Name          16597 non-null  object
 2   Platform      16597 non-null  object
 3   Year          16597 non-null  float64
 4   Genre         16597 non-null  object
 5   Publisher     16597 non-null  object
 6   NA_Sales      16597 non-null  float64
 7   EU_Sales      16597 non-null  float64
 8   JP_Sales      16597 non-null  float64
 9   Other_Sales   16597 non-null  float64
 10  Global_Sales  16597 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

In [29]:
Data["Year"] = Data["Year"].astype("int")
Data["NA_Sales"] = Data["NA_Sales"].astype("float")
Data["EU_Sales"] = Data["EU_Sales"].astype("float")
Data["JP_Sales"] = Data["JP_Sales"].astype("float")
Data["Other_Sales"] = Data["Other_Sales"].astype("float")
Data["Global_Sales"] = Data["Global_Sales"].astype("float")

In [30]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16597 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16597 non-null  int64
 1   Name          16597 non-null  object
 2   Platform      16597 non-null  object
 3   Year          16597 non-null  int64
 4   Genre         16597 non-null  object
 5   Publisher     16597 non-null  object
 6   NA_Sales      16597 non-null  float64
 7   EU_Sales      16597 non-null  float64
 8   JP_Sales      16597 non-null  float64
 9   Other_Sales   16597 non-null  float64
 10  Global_Sales  16597 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.5+ MB

In [31]:
Data.drop(columns = ["Global_Sales"], inplace = True)

In [32]:
Data["Global_Sales"] = Data["NA_Sales"] + Data["EU_Sales"] + Data["JP_Sales"] + Data["Other_Sales"]

In [33]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16597 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16597 non-null  int64
 1   Name          16597 non-null  object
 2   Platform      16597 non-null  object
 3   Year          16597 non-null  int64
 4   Genre         16597 non-null  object
 5   Publisher     16597 non-null  object
 6   NA_Sales      16597 non-null  float64
 7   EU_Sales      16597 non-null  float64
 8   JP_Sales      16597 non-null  float64
 9   Other_Sales   16597 non-null  float64
 10  Global_Sales  16597 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.5+ MB

In [34]:
Data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38

In [35]:
Cleaned_Data_File = Data.to_csv("Cleaned_Data.csv", index = False)